/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента

@import './utils/variables';
@import './utils/normalize';
@import './components/basic';

@import './components/header';
@import './components/section-1';
@import './components/section-2';
@import './components/section-3';
@import './components/section-4';
@import './components/section-5';
@import './components/footer';
