// device type

$mobile-lesser: 767px;
$mobile-upper : 768px;
$table-lesser: 1279px;
$table-upper : 1280px;

// color

$accent: #FF6C00; 
$basic: #555555;
$basic-white: #9DA4BD;

$basic-item: #303030;
$white-item: #FFFFFF;

$white-sub-item: rgba(157, 164, 189, 0.6);