// device type

$mobile-lesser: 767px;
$mobile-upper: 768px;
$table-lesser: 1279px;
$table-upper: 1280px;

// color

$accent: #ff6c00;
$basic: #555555;
$basic-white: #9da4bd;

$basic-item: #303030;
$white-item: #ffffff;

$white-sub-item: rgba(157, 164, 189, 0.6);
