<footer>
    <div class="container">
        <div class="external-wrapper">
            <section class="booking">
                <h3 class="booking-title">Онлайн-запись</h3>
                <form class="booking-form" action="">
                    <ul class="booking-list">
                        <li class="booking-list-item ">
                            <input class="booking-list-input booking-list-first" placeholder=" " type="text">
                            <label class="booking-list-label" for="">ИМЯ</label>
                        </li>
                        <li class="booking-list-item">
                            <input class="booking-list-input" placeholder=" " type="text">
                            <label class="booking-list-label" for="">ТЕЛЕФОН</label>
                        </li>
                        <li class="booking-list-item booking-last-item">
                            <input class="booking-list-input  booking-last-item" placeholder=" " type="text">
                            <label class="booking-list-label" for="">СООБЩЕНИЕ</label>
                        </li>
                    </ul>
                    <div class="button-wrapper">
                        <button class="button button-footer" type="submit">Отправить</button>
                    </div>
                </form>
            </section>
            <section class="contacts">

                <div class="contacts-inner">
                    <h3 class="contacts-title">Контакты</h3>
                    <ul class="contacts-list">
                        <li class="contacts-list-element">
                            <p class="contacts-list-item">
                                <svg class="footer-icon">
                                    <use href="./images/sprite.svg#icon-map-pin-f"></use>
                                </svg>
                                ул. Васильковая, 7А, Киев, 08132
                            </p>
                            <p class="contacts-list-item phone">
                                <svg class="footer-icon">
                                    <use href="./images/sprite.svg#icon-phone-f"></use>
                                </svg>+38 044 111 11 11
                            </p>
                            <p class="contacts-list-item address-link">
                                <svg class="footer-icon">
                                    <use href="./images/sprite.svg#icon-mail-f"></use>
                                </svg>barbershop@email.com
                        </li>
                        <li class="contacts-list-element">
                            <span class="contacts-list-item"><span class="inner-line work-inner-line"></span><span
                                    class="contacts-work-time">ВРЕМЯ
                                    РАБОТИ</span></span>
                            <p class="contacts-list-item">Ежедневно с 9:00 до 22:00</p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <div class="container copyright-container">
        <section class="copyright">
            <div class="copyright-inner">
                <div class="media-link">
                    <span class="inner-line copyright-inner-line"></span>
                    <a href="" class="media-link-instagram">Instagram</a>
                    <a href="" class="media-link-youtube">Youtube</a>
                </div>
                <div class="copyright-mark">
                    <svg class="copyright-icon">
                        <use href="./images/sprite.svg#icon-Copyright"></use>
                    </svg>
                    <p class="copyright-title">Copyright 2020</p>
                </div>
            </div>
        </section>
    </div>
</footer>