<header class="hero hero-overlay">
  <svg class="icon-Logo">
    <use href="./images/sprite.svg#icon-Logo"></use>
  </svg>

  <div class="backdrop">
    <div class="menu" data-menu>
      <nav>
        <ul class="hero-nav">
          <li><a href="">О нас</a></li>
          <li><a href="">Услуги и цены</a></li>
          <li><a href="">Мастера</a></li>
          <li><a href="">Контакты</a></li>
        </ul>
      </nav>
      <div class="contacts">
        <a class="hero-tel" href="tel:+380441111111">+38 044 111 11 11</a>
        <a class="hero-button button" href="">онлайн-запись</a>
      </div> 
      <div class="social-link">
        <a class="hero-instagram" href="https://www.instagram.com/">Instagram</a>
        <a class="hero-youtube" href="https://www.youtube.com/">Youtube</a>
      </div>
    </div>
  </div>

  <button class="button-menu" data-menu-button aria-expanded="false">  
    <svg>
      <use class="icon-menu" href="./images/sprite.svg#icon-menu"></use>
      <use class="icon-close" href="./images/sprite.svg#icon-close"></use>
    </svg>
  </button>

  <div class="hero-description">
    <span class="hero-sub-title">A hair salon for men in Kyiv</span>
    <h1>BarberShop</h1>
    <span class="hero-des-title"
      >Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со
      вкусом.</span
    >
  </div>
</header>
