<header class="container">
  <div class="hero hero-overlay  " data-gallery>

    <svg class="icon-Logo">
      <use href="./images/sprite.svg#icon-Logo"></use>
    </svg>

    <div>
      <div class="menu" data-menu>
        <nav>
          <ul class="hero-nav">
            <li><a href="#section-1">О нас</a></li>
            <li><a href="#section-2">Услуги и цены</a></li>
            <li><a href="#masters">Мастера</a></li>
            <li><a href="#page_contacts">Контакты</a></li>
          </ul>
          <ul class="hero-nav hero-nav-mobile">
            <li><button data-link-button1><a href="#section-1">О нас</a></button> </li>
            <li><button data-link-button2><a href="#section-2">Услуги и цены</a></button> </li>
            <li><button data-link-button3><a href="#masters">Мастера</a></button> </li>
            <li><button data-link-button4><a href="#page_contacts">Контакты</a></button> </li>
          </ul>
        </nav>
        <div class="hero-contacts">
          <a class="hero-tel" href="tel:+380441111111">+38 044 111 11 11</a>
          <a class="hero-button link-button" href="#page_footer">онлайн-запись</a>
          <button class="fifth-button" data-link-button5><a class="hero-button link-button" href="#page_footer">онлайн-запись</a></button>
        </div>
        <div class="watch-more">
          <a class="hero-instagram" href="https://www.instagram.com/"
            >Instagram</a
          >
          <a class="hero-youtube" href="https://www.youtube.com/">Youtube</a>
        </div>
      </div>
      <div data-backdrop></div>
    </div>

    <button class="button-menu" data-menu-button aria-expanded="false">
      <svg>
        <use class="icon-menu" href="./images/sprite.svg#icon-menu"></use>
        <use class="icon-close" href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <div class="hero-description">
      <span class="hero-sub-title">A hair salon for men in Kyiv</span>
      <h1>BarberShop</h1>
      <span class="hero-des-title"
        >Мы эксперты в модных мужских стрижках. Работаем быстро, осторожно и со
        вкусом.</span
      >
    </div>
    <!-- <button class="button-back">Назад</button> -->
    <button class="button-forward" data-gallery-button>Вперед</button>
  </div>
</header>
