<section id="section-2" class="section-pricelist">
  <div class="pricelist container">
    <p class="pricelist-subtitle">Проведи время в компании лучших мастеров</p>
    <h2 class="pricelist-title">Услуги и цены</h2>
    <div class="pricelist-box">
      <ul class="pricelist-list left">
        <li class="pricelist-item">
          <span class="pricelist-item-name">Мужская стрижка</span>
          <span class="line"></span>
          <span class="pricelist-item-price">от 300 грн.</span>
        </li>
        <li class="pricelist-item">
          <span class="pricelist-item-name">Стрижка бороды</span>
          <span class="line"></span>
          <span class="pricelist-item-price">от 200 грн.</span>
        </li>
        <li class="pricelist-item">
          <span class="pricelist-item-name">Стрижка усов</span>
          <span class="line"></span>
          <span class="pricelist-item-price">от 200 грн.</span>
        </li>
        <li class="pricelist-item">
          <span class="pricelist-item-name">Бритье опасной бритвой</span>
          <span class="line"></span>
          <span class="pricelist-item-price">от 200 грн.</span>
        </li>
      </ul>
      <ul class="pricelist-list right">
        <li class="pricelist-item">
          <span class="pricelist-item-name">Cтрижка у стажера</span>
          <span class="line"></span>
          <span class="pricelist-item-price">от 50 грн.</span>
        </li>
        <li class="pricelist-item">
          <span class="pricelist-item-name">Стрижка под насадку</span>
          <span class="line"></span>
          <span class="pricelist-item-price">от 200 грн.</span>
        </li>
        <li class="pricelist-item">
          <span class="pricelist-item-name">Детская стрижка (до 12 лет)</span>
          <span class="line"></span>
          <span class="pricelist-item-price">от 300 грн.</span>
        </li>
        <li class="pricelist-item">
          <span class="pricelist-item-name">Камуфлирование седины</span>
          <span class="line"></span>
          <span class="pricelist-item-price">от 200 грн.</span>
        </li>
      </ul>
    </div>
    <a class="link-button secondary" href="#page-footer">онлайн-запись</a>
  </div>
</section>
