<!-- Galery -->

<section class="galery">
  <div class="container">
    <p class="galery-title">На латинском языке “барба” означает “борода”</p>
    <ul class="galery-set">
      <li class="galery-set__item">
        <picture>
          <source
            srcset="
              ../src/images/Galery_foto/Barber_1/img1_270.jpg    270w,
              ../src/images/Galery_foto/Barber_1/img1_270@2x.jpg 540w
            "
            media="(min-width: 1200px)"
            sizes="270px"
          />
          <source
            srcset="
              ../src/images/Galery_foto/Barber_1/img1-330.jpg    330w,
              ../src/images/Galery_foto/Barber_1/img1-330@2x.jpg 660w
            "
            media="(min-width: 768px)"
            sizes="318px"
          />
          <source
            srcset="
              ../src/images/Galery_foto/Barber_1/img1-418.jpg    418w,
              ../src/images/Galery_foto/Barber_1/img1@2x-836.jpg 836w
            "
            media="(max-width: 767px)"
            sizes="418px"
          />
          <img src="../src/images/Galery_foto/Barber_1/img1-418.jpg" alt="" />
        </picture>
      </li>
      <li class="galery-set__item">
        <picture>
          <source
            srcset="
              ../src/images/Galery_foto/Barber_2/img2_270.jpg    270w,
              ../src/images/Galery_foto/Barber_2/img2_270@2x.jpg 540w
            "
            media="(min-width: 1200px)"
            sizes="270px"
          />
          <source
            srcset="
              ../src/images/Galery_foto/Barber_2/img2_330.jpg    330w,
              ../src/images/Galery_foto/Barber_2/img2_330@2x.jpg 660w
            "
            media="(min-width: 768px)"
            sizes="318px"
          />
          <source
            srcset="
              ../src/images/Galery_foto/Barber_2/img2_418.jpg    418w,
              ../src/images/Galery_foto/Barber_2/img2_418@2x.jpg 836w
            "
            media="(max-width: 767px)"
            sizes="418px"
          />
          <img src="../src/images/Galery_foto/Barber_2/img2_418.jpg" alt="" />
        </picture>
      </li>
      <li class="galery-set__item">
        <picture>
          <source
            srcset="
              ../src/images/Galery_foto/Barber_3/img3_270.jpg    270w,
              ../src/images/Galery_foto/Barber_3/img3_270@2x.jpg 540w
            "
            media="(min-width: 1200px)"
            sizes="270px"
          />
          <source
            srcset="
              ../src/images/Galery_foto/Barber_3/img3_330.jpg    330w,
              ../src/images/Galery_foto/Barber_3/img3_330@2x.jpg 660w
            "
            media="(min-width: 768px)"
            sizes="318px"
          />
          <source
            srcset="
              ../src/images/Galery_foto/Barber_3/img3_418.jpg    418w,
              ../src/images/Galery_foto/Barber_3/img3_418@2x.jpg 836w
            "
            media="(max-width: 767px)"
            sizes="418px"
          />
          <img src="../src/images/Galery_foto/Barber_3/img3_418.jpg" alt="" />
        </picture>
      </li>
      <li class="galery-set__item">
        <picture>
          <source
            srcset="
              /images/Galery_foto/Barber_4/img4_270.jpg    270w,
              /images/Galery_foto/Barber_4/img4_270@2x.jpg 540w
            "
            media="(min-width: 1200px)"
            sizes="270px"
          />
          <source
            srcset="
              ../src/images/Galery_foto/Barber_4/img4_330.jpg    330w,
              ../src/images/Galery_foto/Barber_4/img4_330@2x.jpg 660w
            "
            media="(min-width: 768px)"
            sizes="318px"
          />
          <source
            srcset="
              ../src/images/Galery_foto/Barber_4/img4_418.jpg    418w,
              ../src/images/Galery_foto/Barber_4/img4_418@2x.jpg 836w
            "
            media="(max-width: 767px)"
            sizes="418px"
          />
          <img src="../src/images/Galery_foto/Barber_4/img4_418.jpg" alt="" />
        </picture>
      </li>
    </ul>
  </div>
</section>
