<div class="container-about">
  <div class="photo-desk">
    <img class="photo-tablet" src="./images/img 1.jpg" alt="photo" />
    <img class="photo-tablet" src="./images/img 2.jpg" alt="photo" />
    <img class="photo-desktop" src="./images/img 1-desktop.jpg" alt="photo" />
    <img class="photo-desktop" src="./images/img 2-desktop.jpg" alt="photo" />
  </div>
  <div class="tablet-container">
    <p class="about">О НАС</p>

    <h2 class="title">
      Лучший Барбершоп<br />
      твоего города
    </h2>
    <p class="discript one">
      Если ты хочешь добавить в свой образ больше уверенности – тебе точно к
      нам.
    </p>
    <p class="discript">
      Мы команда, которая никогда не останавливается на достигнутом и жаждет
      перемен. И когда ты попадешь в руки нашего мастера, то уже никогда не
      сможешь быть прежним. Мы команда, которая всегда с клиентами "на одной
      волне". Поэтому, мы всегда готовы усовершенствовать каждого, кто к нам
      приходит!
    </p>
    <div class="button">
      <a href="text-button">онлайн-запись</a>
    </div>
  </div>
</div>
