<section class="masters">
  <div class="container">
    <p class="about">для настоящих ценителей атмосферы</p>
    <h2 class="masters-title">Наши мастера</h2>
    <ul class="masters-list">
      <li class="masters-item">
        <div class="masters-photo">
          <picture>
            <source
              srcset="
                ./images/john-des-370.jpg    370w,
                ./images/john-des@2x-740.jpg 740w
              "
              media="(min-width: 1280px)"
              sizes="370px"
            />
            <source
              srcset="
                ./images/john-tab-450.jpg    450w,
                ./images/john-tab@2x-900.jpg 900w
              "
              media="(min-width: 768px)"
              sizes="450px"
            />
            <source
              srcset="
                ./images/john-mob-418.jpg    418w,
                ./images/john-mob@2x-836.jpg 836w
              "
              media="(max-width: 767px)"
              sizes="418px"
            />
            <img src="./images/john-mob-418.jpg" alt="Barbers photo" />
          </picture>
        </div>
        <div class="masters-item-info">
          <h3 class="masters-list-item">John Smith</h3>
          <p class="masters-text">Extreme Barber</p>
          <ul class="social-list">
            <li class="item">
              <a href="/" class="social-link" aria-label="Ссылка на Инстаграмм">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="item">
              <a href="/" class="social-link" aria-label="Ссылка на Твиттер">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="item">
              <a href="/" class="social-link" aria-label="Ссылка на Фейсбук">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="item">
              <a href="/" class="social-link" aria-label="Ссылка на Линкедин">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="masters-item">
        <div class="masters-photo">
          <picture>
            <source
              srcset="
                ./images/michele-des-370.jpg    370w,
                ./images/michele-des@2x-740.jpg 740w
              "
              media="(min-width: 1280px)"
              sizes="370px" />
            <source
              srcset="
                ./images/michele-tab-450.jpg    450w,
                ./images/michele-tab@2x-900.jpg 900w
              "
              media="(min-width: 768px)"
              sizes="450px" />
            <source
              srcset="
                ./images/michele-mob-418.jpg    418w,
                ./images/michele-mob@2x-836.jpg 836w
              "
              media="(max-width: 767px)"
              sizes="418px" />
            <img src="./images/michele-mob-418.jpg" alt="Barbers photo"
          /></picture>
        </div>
        <div class="masters-item-info">
          <h3 class="masters-list-item">Michele Doe</h3>
          <p class="masters-text">Extreme Barber</p>
          <ul class="social-list">
            <li class="item">
              <a href="/" class="social-link" aria-label="Ссылка на Инстаграмм">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="item">
              <a href="/" class="social-link" aria-label="Ссылка на Твиттер">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="item">
              <a href="/" class="social-link" aria-label="Ссылка на Фейсбук">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="item">
              <a href="/" class="social-link" aria-label="Ссылка на Линкедин">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
      <li class="masters-item">
        <div class="masters-photo">
          <picture>
            <source
              srcset="
                ./images/alan-des-370.jpg    370w,
                ./images/alan-des@2x-740.jpg 740w
              "
              media="(min-width: 1280px)"
              sizes="370px"
            />
            <source
              srcset="
                ./images/alan-tab-450.jpg    450w,
                ./images/alan-tab@2x-900.jpg 900w
              "
              media="(min-width: 768px)"
              sizes="450px"
            />
            <source
              srcset="
                ./images/alan-mob-418.jpg    418w,
                ./images/alan-mob@2x-836.jpg 836w
              "
              media="(max-width: 767px)"
              sizes="418px"
            />
            <img src="./images/alan-mob-418.jpg" alt="Barbers photo" />
          </picture>
        </div>
        <div class="masters-item-info">
          <h3 class="masters-list-item">Alan Black</h3>
          <p class="masters-text">Extreme Barber</p>
          <ul class="social-list">
            <li class="item">
              <a href="/" class="social-link" aria-label="Ссылка на Инстаграмм">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="item">
              <a href="/" class="social-link" aria-label="Ссылка на Твиттер">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="item">
              <a href="/" class="social-link" aria-label="Ссылка на Фейсбук">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="item">
              <a href="/" class="social-link" aria-label="Ссылка на Линкедин">
                <svg class="social-icon">
                  <use href="./images/sprite.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
