<section class="pricelist">
  <p class="pricelist-subtitle">Проведи время в компании лучших мастеров</p>
  <h2 class="pricelist-title">Услуги и цены</h2>
  <div class="pricelist-box">
    <ul class="pricelist-list">
      <li>Мужская стрижка<span class="line"></span>от 300 грн.</li>
      <li>Стрижка бороды<span class="line"></span>от 200 грн.</li>
      <li>Стрижка усов<span class="line"></span>от 200 грн.</li>
      <li>Бритье опасной бритвой<span class="line"></span>от 200 грн.</li>
      <li>Cтрижка у стажера<span class="line"></span>от 50 грн.</li>
      <li>Стрижка под насадку<span class="line"></span>от 200 грн.</li>
      <li>Детская стрижка (до 12 лет)<span class="line"></span>от 300 грн.</li>
      <li>Камуфлирование седины<span class="line"></span>от 200 грн.</li>
    </ul>
  </div>
  <a class="button" href="">онлайн-запись</a>
</section>
