<!-- Galery -->

<section>
  <div>
    <span>___________</span>
    <p>На латинском языке “барба” означает “борода”</p>
  </div>
  <div class="container galery">
    <ul class="galery-set">
      <li class="galery-set__item">
        <img
          srcset="
            ../images/Galery_foto/Barber_1/img1.jpg     418w,
            ../images/Galery_foto/Barber_1/img1@2x.jpg  836w,
            ../images/Galery_foto/Barber_1/img1@3x.jpg 1254w
          "
          src="../images/Galery_foto/Barber_1/img1.jpg"
          alt=""
        />
      </li>
      <li class="galery-item">
        <picture>
          <source
            type="image/jpg"
            srcset="
              ./img/galery_foto/Mobile_418px/img2.jpg     450w,
              ./img/galery_foto/Mobile_418px/img2@2x.jpg  900w,
              ./img/galery_foto/Mobile_418px/img2@3x.jpg 1350w
            "
            media="(max-width:767px)"
            sizes="418px"
          />
          <source
            type="image/jpg"
            srcset="
              ./img/galery_foto/Tablet_330px/img2_330.jpg     370w,
              ./img/galery_foto/Tablet_330px/img2_330@2x.jpg  740w,
              ./img/galery_foto/Tablet_330px/img2_330@3x.jpg 1110w
            "
            media="(min-width:768px)"
            sizes="330px"
          />
          <img
            class="galery-pic"
            src="./img/galery_foto/Mobile_418px/img2.jpg"
            alt="фото барбера 1"
          />
        </picture>
      </li>
      <li class="galery-item">
        <picture>
          <source
            type="image/jpg"
            srcset="
              ./img/galery_foto/Mobile_418px/img3.jpg     450w,
              ./img/galery_foto/Mobile_418px/img3@2x.jpg  900w,
              ./img/galery_foto/Mobile_418px/img3@3x.jpg 1350w
            "
            media="(max-width:767px)"
            sizes="418px"
          />
          <source
            type="image/jpg"
            srcset="
              ./img/galery_foto/Tablet_330px/img3_330.jpg     370w,
              ./img/galery_foto/Tablet_330px/img3_330@2x.jpg  740w,
              ./img/galery_foto/Tablet_330px/img3_330@3x.jpg 1110w
            "
            media="(min-width:768px)"
            sizes="330px"
          />
          <img
            class="galery-pic"
            src="./img/galery_foto/Mobile_418px/img3.jpg"
            alt="фото барбера 1"
          />
        </picture>
      </li>
      <li class="galery-item">
        <picture>
          <source
            type="image/jpg"
            srcset="
              ./img/galery_foto/Mobile_418px/img4.jpg     450w,
              ./img/galery_foto/Mobile_418px/img4@2x.jpg  900w,
              ./img/galery_foto/Mobile_418px/img4@3x.jpg 1350w
            "
            media="(max-width:767px)"
            sizes="418px"
          />
          <source
            type="image/jpg"
            srcset="
              ./img/galery_foto/Tablet_330px/img4_330.jpg     370w,
              ./img/galery_foto/Tablet_330px/img4_330@2x.jpg  740w,
              ./img/galery_foto/Tablet_330px/img4_330@3x.jpg 1110w
            "
            media="(min-width:768px)"
            sizes="330px"
          />
          <img
            class="galery-pic"
            src="./img/galery_foto/Mobile_418px/img4.jpg"
            alt="фото барбера 1"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
