<!-- feature -->
<section class="section">
    <div class="container feature">
        <div class="title box">
            <p class="subtitle">старая традиционная школа</p>
            <h2 class="title">Почему приходят именно к нам?</h2>
            <p class="feature-text">О нас говорят только хорошее. Но лучше 
                1 раз увидеть и прочувствовать, чем 10 раз прочитать. 
            </p>
        </div>
        <div class="feature box">
        <ul class="feature-list list">
            <li class="item">
                <div class="box-background">
                    <p class="number">600<sup class="sup">+</sup></p>
                    <span class="text" >Довольных клиентов в день</span>
                </div>
            </li>
            <li class="item">
                <div class="box-background">
                    <p class="number">50<sup class="sup">+</sup></p>
                    <span class="text" >Наград за отличный сервис</span>
                </div>
            </li>
            <li class="item"> 
                <div class="box-background">
                    <p class="number">20<sup class="sup">+</sup></p>
                    <span class="text" >Лучших мастеров Киева</span>
                </div>
            </li>
            <li class="item">
            <div class="box-background">
                    <p class="number">100<sup class="sup">+</sup></p>
                    <span class="text" >Подарков постоянным клиентам</span>
            </div>
            </li>
        </ul>
        </div>
    </div>
</section>