// }
*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height */

  letter-spacing: 0.1em;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 767px;

  @media screen and (min-width: 768px) {
    max-width: 1279px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1280px;
  }
}
.footer-title {
  width: 100%;
  // font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.05em;
  margin: 54px 0 40px 0;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 160px;
  height: 40px;
  border-radius: 25px;
  background-color: #ff6c00;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}
