footer {
  width: 100%;
  background-color: #191c26;
  color: white;

  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */

  letter-spacing: 0.02em;
}
.booking {
  // padding: 30px;
  //   outline: 2px solid teal;
  padding-top: 100px;
  padding-bottom: 100px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    width: 50%;
    // padding-left: 60px;
    padding-top: 124px;
  }
  &-title {
    margin-bottom: 44px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.05em;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
    @media screen and (min-width: 1280px) {
    }
  }
}
.booking-list {
  // color: rgba(157, 164, 189, 0.4);
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1280px) {
  }
  &-item {
    // outline: 1px solid red;
    line-height: 24px;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      display: flex;
      // margin-right: 20px;
      flex-basis: 50%;
      width: 100%;
    }
    @media screen and (min-width: 1280px) {
    }
  }
  &-item:hover &-label,
  &-item:focus &-label {
    opacity: 1;
    color: rgba(255, 255, 255, 1);
  }
  &-item:focus &-input,
  &-item:hover &-input {
    opacity: 1;
    border-bottom: 1px solid #9da4bd;
  }
  &-input {
    outline: none;
    border: none;
    opacity: 0.4;
    border-bottom: 1px solid #9da4bd;
    background-color: #191c26;
    height: 24px;
    width: 100%;
    @media screen and (min-width: 768px) {
      display: flex;
      width: auto;
      width: inherit;
      // margin-left: 15px;
    }
    @media screen and (min-width: 1280px) {
    }
  }
}
.booking-list-first {
  margin-right: 20px;
}
.booking-last-item {
  margin-bottom: 45px;
  height: 76px;
  @media screen and (min-width: 768px) {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
    flex-basis: 100%;
  }
  @media screen and (min-width: 1280px) {
  }
}
.booking-list {
  &-item {
    position: relative;
  }
  &-input {
    line-height: 24px;
  }
  &-label {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    transition: 300ms ease;
  }
  &-item:focus &-label,
  &-item:hover &-label {
    top: -20px;
    transition: 300ms ease;
  }
  &-input:not(:placeholder-shown) ~ &-label {
    top: -20px;
    color: white;
    transition: 300ms ease;
  }
  &-input:focus-within,
  &-input:not(:focus-within) {
    color: white;
    opacity: 1;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transition: 300ms ease;
  }
  &-input:focus-within ~ &-label {
    //   &-input:not(:focus-within) ~ &-label {
    color: white;
  }
}
.button-footer {
  display: flex;
  margin: 0;
  justify-content: center;
  background-color: #191c26;
  color: white;
  cursor: pointer;
  transition: 300ms ease;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  // width: 100%;
  margin: 0;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
  @media screen and (min-width: 1280px) {
  }
  &-hover .button-footer,
  &-focus .button-footer {
    background-color: $accent;
    transition: 300ms ease;
  }
}
.back {
  width: 100%;
  // min-height: 496px;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  // overflow: hidden;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
  }
}
.contacts {
  display: block;
  width: 100%;
  min-height: 496px;
  z-index: 10;
  position: relative;
  background-size: cover;
  background-position: center;
  padding-top: 84px;
  padding-bottom: 84px;
  // background: url(../../images/footer_contacts_back.jpg);
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0;
    // background-image: url(../../images/header-480.jpg);
  }
  @media screen and (min-width: 1280px) {
    width: 50%;
    padding-top: 124px;
    padding-bottom: 100px;
  }
  &-title {
    margin-bottom: 44px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 49px;
    text-align: center;
    letter-spacing: 0.05em;
  }
  &-inner {
    position: absolute;
    width: 100%;
    min-height: 100px;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
    // padding-right: 60px;
  }
}
.contacts-work-time {
  color: white;
  font-family: Open Sans;
  font-style: normal;
  // font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 70px;
  }
}
.contacts-list {
  color: #9da4bd;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    // margin-left: 70px;
  }
  @media screen and (min-width: 1280px) {
    flex-direction: column;
    margin-left: 115px;
  }
  &-item {
    margin: 0 0 25px 0;
    display: flex;
    align-items: center;
    @media screen and (min-width: 768px) {
      display: flex;
      margin-right: 80px;
    }
    @media screen and (min-width: 1280px) {
    }
  }
}
.footer-icon {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}
.media-link {
  display: flex;
  justify-content: flex-end;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
  @media screen and (min-width: $mobile-upper) {
    margin: 0;
  }

  @media screen and (min-width: $table-upper) {
  }
  &-instagram {
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #303030;
  }
  &-youtube {
    display: flex;
    align-items: center;
    color: #303030;
  }
}
.copyright-container {
  // padding-right: 31px;
  // padding-left: 31px;
  // margin-left: auto;
  // margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;

  // @media screen and (min-width: $mobile-upper) {
  // }

  // @media screen and (min-width: $table-upper) {
  //   padding-right: 55px;
  //   padding-left: 55px;
  // }
}
.copyright {
  display: flex;
  background-color: white;
  // width: 100%;
  padding-right: 31px;
  padding-left: 31px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile-upper) {
    padding-right: 39px;
    padding-left: 39px;
  }

  @media screen and (min-width: $table-upper) {
    padding-right: 55px;
    padding-left: 55px;
  }

  &-icon {
    width: 12px;
    height: 12px;
    margin-right: 5px;
  }
  &-title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: #9da4bd;
    text-align: left;
  }
  &-inner {
    width: 100%;
    // padding: 45px 30px 45px 30px;
    padding-top: 45px;
    padding-bottom: 45px;
    @media screen and (min-width: 768px) {
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
    @media screen and (min-width: 1280px) {
      // padding: 45px 60px 45px 60px;
    }
  }
}
.copyright-mark {
  display: flex;
  align-items: center;
}
.work-inner-line:before {
  background-color: #9da4bd;
}
.work-inner-line {
  margin-top: 10px;
  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 70px;
  }
}
.copyright-inner-line::before {
  background-color: black;
}
.inner-line {
  // position: relative;
  width: 100px;
  height: 28px;
  display: flex;
  align-items: center;
}
.inner-line::before {
  content: ' ';
  // position: absolute;
  width: 60px;
  height: 1px;
  display: block;
  margin: 0 20px 0 0;
}
.external-wrapper {
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}
.contacts-title {
  @media screen and (min-width: 768px) {
    text-align: left;
    // margin-left: 70px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 115px;
    display: block;
    width: 60%;
  }
}
