h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.masters {
  margin-left: auto;
  margin-right: auto;
  padding-top: 84px;
  padding-bottom: 84px;
  background-color: #f7f7f7;
  width: 418px;

  @media screen and (min-width: $mobile-upper) and (max-width: $table-lesser) {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 450px;
  }

  @media screen and (min-width: $table-upper) {
    padding-top: 130px;
    padding-bottom: 130px;
    width: 1170px;
  }
}

.about-masters {
  display: inline-flex;
  align-items: center;

  font-family: Open Sans;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $basic-item;

  margin-bottom: 20px;
}

.about-masters::before {
  content: '';
  width: 60px;
  height: 1px;
  background-color: $basic-item;

  margin-right: 20px;
}

.masters-title {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: $basic-item;

  margin-bottom: 44px;
}

.masters-list {
  display: block;

  @media screen and (min-width: $table-upper) {
    display: flex;
    flex-wrap: wrap;
  }
}

.masters-item {
  display: block;

  @media screen and (max-width: $mobile-lesser) {
    // max-width: 418px;
  }
  @media screen and (min-width: $mobile-upper) and (max-width: $table-lesser) {
    // max-width: 450px;
  }

  @media screen and (min-width: $table-upper) {
    flex-basis: calc((100% - 60px) / 3);
    max-width: 370px;
  }

  &:not(:last-child) {
    @media screen and (max-width: $table-lesser) {
      margin-bottom: 64px;
    }
  }

  &:not(:last-child) {
    @media screen and (min-width: $table-upper) {
      margin-right: 30px;
    }
  }
}

.masters-photo {
  text-align: center;

  & > picture {
    display: block;
  }
}

.card-title {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  letter-spacing: 0.02em;
  color: $basic-item;

  margin-top: 30px;
  margin-bottom: 8px;
}

.masters-text {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;

  color: $accent;

  margin-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;

  & .item:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  background-color: $white-item;
}

.social-icon {
  margin: auto;
  width: 20px;
  height: 20px;
  fill: $basic-item;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social-link:hover &,
  .social-link:focus & {
    fill: $accent;
  }
}
