h1,
h2,
h3,
h4,
p {
  margin-bottom: 0;
}

.container-about {
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: $mobile-lesser) {
    width: 418px;

    padding-top: 84px;

    padding-bottom: 84px;
  }

  @media screen and (min-width: $mobile-upper) {
    display: flex;
    padding-top: 100px;

    padding-bottom: 100px;
    width: 690px;
  }

  @media screen and (min-width: $table-upper) {
    display: flex;
    padding-top: 130px;

    padding-bottom: 130px;
    width: 1134px;
  }
}

.about {
  display: inline-flex;
  align-items: center;

  margin-top: -20px;

  margin-left: 31px;
  font-family: Open Sans;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: $basic-item;

  &::before {
    content: '';

    margin-right: 40px;
    width: 1px;
    height: 60px;

    background: $basic-item;
    transform: rotate(90deg);
  }

  @media screen and (min-width: $mobile-upper) {
    margin-left: 60px;
  }

  @media screen and (min-width: $table-upper) {
    margin-left: 94px;
  }
}

.title {
  font-family: Raleway;

  font-weight: 900;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: $basic-item;

  @media screen and (min-width: $mobile-upper) {
    margin-left: 30px;
  }

  @media screen and (min-width: $table-upper) {
    margin-left: 64px;
    font-size: 42px;
    line-height: 1.16;
  }
}
.discript {
  margin-top: 20px;
  font-family: Open Sans;

  font-weight: normal;
  letter-spacing: 0.02em;

  color: $basic;
  font-size: 14px;
  line-height: 1.85;

  @media screen and (min-width: $mobile-upper) {
    margin-left: 30px;
    margin-right: 0;
  }

  @media screen and (min-width: $table-upper) {
    margin-left: 64px;
  }
}

.discript.one {
  font-size: 16px;
  line-height: 1.62;

  @media screen and (min-width: $table-upper) {
    margin-left: 64px;
    padding-right: 60px;
    font-size: 18px;
    line-height: 1.66;
  }
}

.button {
  margin-top: 40px;
  width: 160px;
  height: 40px;
  text-align: center;
  // padding-top: 12px;
  font-family: Open Sans;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: $basic-item;
  border: 1px solid $accent;

  box-sizing: border-box;
  border-radius: 25px;

  &:hover,
  &:focus {
    background: $accent;
  }

  @media screen and (min-width: $mobile-upper) {
    margin-left: 30px;
  }

  @media screen and (min-width: $table-upper) {
    margin-left: 64px;
  }

  a {
    color: $basic-item;

    &:hover,
    &:focus {
      color: $white-item;
    }
  }
}

.photo-tablet {
  @media screen and (min-width: $mobile-upper) {
    max-width: 330px;
  }
  @media screen and (max-width: $mobile-lesser), (min-width: $table-upper) {
    display: none;
  }

  & + .photo-tablet {
    margin-top: 30px;
  }
}

.photo-desktop {
  max-width: 270px;
  height: 445px;

  @media screen and (max-width: $table-lesser) {
    display: none;
  }

  & + .photo-desktop {
    margin-left: 30px;
  }
}

.photo-desk {
  @media screen and (min-width: $table-upper) {
    display: flex;
  }
}
