*,
*::before,
*::after {
  box-sizing: border-box;
}

.section-pricelist {
  max-width: 1280px;
  background-image: url('../images/section-price/price-480.png'),
    linear-gradient(#111319, #111319);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: url('../images/section-price/price-960@2x.png'),
        linear-gradient(#111319, #111319);
    }
  }

  @media screen and (min-width: 577px) {
    & {
      background-image: url('../images/section-price/price-768.png'),
        linear-gradient(#111319, #111319);
    }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url('../images/section-price/price-1536@2x.png'),
          linear-gradient(#111319, #111319);
      }
    }
  }

  @media screen and (min-width: 769px) {
    & {
      background-image: url('../images/section-price/price-1280.png'),
        linear-gradient(#111319, #111319);
    }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url('../images/section-price/price-2560@2x.png'),
          linear-gradient(#111319, #111319);
      }
    }
  }
}

.pricelist-container {
  margin-right: auto;
  margin-left: auto;
  padding: 84px 31px;

  text-align: center;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 100px 39px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 130px 15px;
  }
}

.pricelist-subtitle {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: left;

  color: $white-sub-item;

  &::before {
    content: '';
    display: inline-block;
    align-items: center;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background: $white-sub-item;
  }
}

.pricelist-title {
  margin: 0;
  margin-bottom: 44px;

  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-align: left;

  color: $white-item;
}

.pricelist-box {
  margin-bottom: 50px;
  padding: 30px;

  font-weight: normal;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;

  color: $basic-white;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);

  @media screen and (min-width: $mobile-upper) {
    font-size: 18px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    padding: 0;
  }
}

.pricelist-list {
  list-style: none;
  margin: 0;
}

.pricelist-list.left {
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    padding: 30px;
    flex-grow: 1;
  }
}

.pricelist-list.right {
  @media screen and (min-width: 1200px) {
    padding: 30px;
    flex-grow: 1;
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.pricelist-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  & + & {
    margin-top: 20px;
  }
}

.line {
  display: inline-block;
  flex-grow: 1;

  margin-right: 6px;
  margin-left: 6px;

  height: 1px;
  background: rgba(157, 164, 189, 0.12);
}
