*,
*::before,
*::after {
  box-sizing: border-box;
}

.section-pricelist {
  max-width: 1280px;
  background: #111319;
  background-image: url('../images/section-price/bg-price-mobile.png'),
    linear-gradient(#111319, #111319);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    & {
      background-image: url('../images/section-price/bg-price-mobile@2x.png'),
        linear-gradient(#111319, #111319);
    }
  }

  @media screen and (min-width: 577px) {
    & {
      background-image: url('../images/section-price/bg-price-tablet.png'),
        linear-gradient(#111319, #111319);
    }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url('../images/section-price/bg-price-tablet@2x.png'),
          linear-gradient(#111319, #111319);
      }
    }
  }

  @media screen and (min-width: 769px) {
    & {
      background-image: url('../images/section-price/bg-price-desktop.png'),
        linear-gradient(#111319, #111319);
    }

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      & {
        background-image: url('../images/section-price/bg-price-desktop@2x.png'),
          linear-gradient(#111319, #111319);
      }
    }
  }
}

.pricelist-container {
  margin-right: auto;
  margin-left: auto;
  padding: 84px 31px;

  font-family: Open Sans;
  font-style: normal;
  text-align: center;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 100px 39px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 130px 15px;
  }
}

.pricelist-subtitle {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: left;

  color: rgba(157, 164, 189, 0.6);

  &::before {
    content: '';
    display: inline-block;
    align-items: center;
    margin-right: 20px;
    width: 60px;
    height: 1px;
    background: rgba(157, 164, 189, 0.6);
  }
}

.pricelist-title {
  margin: 0;
  margin-bottom: 44px;

  font-weight: bold;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  text-align: left;

  color: #ffffff;
}

.pricelist-box {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;

  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.02em;

  color: #9da4bd;
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.pricelist-list {
  list-style: none;
  margin: 0;
  padding: 30px;
}

.pricelist-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.line {
  display: inline-block;
  flex-grow: 1;

  margin-right: 6px;
  margin-left: 6px;

  height: 1px;
  background: rgba(157, 164, 189, 0.12);
}

.button {
  display: inline-block;
  padding: 12px 20px;
  text-decoration: none;

  border: 1px solid #ff6c00;
  border-radius: 25px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  text-align: center;
  color: #303030;
  cursor: pointer;

  &.secondary {
    color: #ffffff;
  }

  &:hover,
  &:focus {
    background: #ff6c00;
    color: #ffffff;
  }
}
